// LIBRARIES

@import 'lib/helpers';
@import 'lib/normalize';
@import 'lib/range';
@import 'lib/wp';

// RANGES

$theme-ranges: (

	xs: ( min:  575 ),
	sm: ( min:  576 ),
	md: ( min:  768 ),
	lg: ( min:  992 ),
	xl: ( min: 1200 ),

	tiny:    ( max:  400 ),
	mobile:  ( max:  879 ),
	desktop: ( min:  880 ),

);

$ranges: map-merge($ranges, $theme-ranges);

:root {

	// FONTS
	--primary-font: 'Open Sans', sans-serif;
	// --title-font:   'Overlock', cursive;

	// COLORS
	--background-dark-gray:  #333;
	--background-light-gray: #eee;
	--border-light-gray:     #ddd;
	--text-light-gray:       #aaa;
	--text-dark-gray:        #888;
	--highlight-light-blue:  #80C0FF;
	--highlight-dark-blue:   #{desaturate( darken( #80C0FF, 18% ), 66% )};

	// SIZES
	--header-width: 24rem;
	--main-width:   40rem;

	// STYLES
	--link-color:           var(--highlight-dark-blue);
	--link-color-hover:     var(--highlight-light-blue);
	--link-text-decoration: none;

	--entry-margin: 0;
	--entry-title-size: 2em;

}

// CONTAINERS

html,
body {
	font: 18px/2 var(--primary-font);
	font-weight: 300;
	background: #1d2327;
	color: #333;
}

body {
}

* {
	box-sizing: border-box;
}

p {
	margin: 1em 0;
}

a {
	color: var(--link-color);
	&:hover{ color: var(--link-color-hover) };
	text-decoration: var(--link-text-decoration);
	transition: color .3s;
}

h1 {
	font-weight: 300;
	line-height: 1.5;
}

h2 {
	font-weight: 300;
	line-height: 1.5;
}

h3 {
	font-weight: 300;
	line-height: 1.5;
}

em {
}

hr {
	margin: 2em 0;
	border: 0;
	height: 1px;
	background-color: var(--text-dark-gray);
}

ul, ol {}

li {}

img {
	height: auto;
}

blockquote {
	margin-left: 0;
	border-left: 1px solid var(--highlight-dark-blue);
	padding-left: 2em;
}

.format-quote {

	.wp-block-quote {
		> p {
			font-size: 1.75em;
			font-weight: 300;
			line-height: 1.5;
		}
		> cite {
			font-size: smaller;
			font-style: normal;
			color: var(--text-dark-gray);
		}
	}

}

// SITE

.site-container {
	background: var(--background-dark-gray);
	@include range(desktop) {
		display: flex;
		min-height: 100vh;
	}
	body.admin-bar & {
		@include range(desktop) {
			min-height: calc( 100vh - #{$wpadminbar-desktop-height} );
		}
	}
}

// HEADER

.header-container {
	background: var(--background-dark-gray);
	@include range(desktop) {
		position: relative;
		overflow: visible;
		flex: 1 0 var(--header-width);
	}
}

.header {
	color: var(--text-light-gray);
	--link-color: var(--highlight-light-blue);
	@include range(mobile) {
		text-align: center;
		padding: 5rem 1rem;
	}
	@include range(desktop) {
		position: sticky;
		top: 50%;
		left: 0;
		right: 0;
		transform: translateY(-50%);
		padding: 3rem;
		text-align: right;
	}

}

.header-avatar {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	@include range(mobile) {
		justify-content: center;
	}
	@include range(desktop) {
		justify-content: flex-end;
	}
}

.header-photo {
	width: 3rem;
	margin-right: .5rem;
}

.header-title {
	margin: 0;
	font-size: 2em;
	--link-color: white;
}

.header-description {
	padding-top: .25em;
}

.header-contact {
	padding-top: .25em;
	padding-right: 4px;
	font-size: 1.2rem;
	--link-color: var(--text-light-gray);

	.menu {
		@include no-list-style;
		display: flex;
		@include range(mobile) {
			justify-content: center;
		}
		@include range(desktop) {
			justify-content: flex-end;
		}
	}

	.menu-item {
		&:not(:first-child) { padding-left: 1em; }
		&.email {
			--link-color:       #d9534f;
			--link-color-hover: #{ lighten( #d9534f, 10% )};
		}
		&.twitter {
			--link-color:       #5bc0de;
			--link-color-hover: #{ lighten( #5bc0de, 10% )};
		}
		&.github {
			--link-color:       mediumpurple;
			--link-color-hover: #{ lighten( mediumpurple, 10% )};
		}
		&.instagram {
			--link-color:       #5cb85c;
			--link-color-hover: #{ lighten( #5cb85c, 10% )};
		}
		&.coffee {
			--link-color:       sienna;
			--link-color-hover: #{ lighten( sienna, 10% )};
		}
		&.feed {
			--link-color:       #f0ad4e;
			--link-color-hover: #{ lighten( #f0ad4e, 10% )};
		}
		&.mastodon {
			--link-color:       rgb(48, 136, 212);
			--link-color-hover: #{ lighten( rgb(48, 136, 212), 10% )};
		}

		a {
			display: block;
			transform: scale( 1 );
			&:hover { transform: scale( 1.5 ); }
			transition: color .4s, transform .2s $ease-in-out-quad;
		}
	}

	.menu-item-title {
		display: none;
	}

}

.header-menu {
	padding-top: .25em;
	// font-weight: bold;
	// text-transform: uppercase;
	--link-color: white;
	@include range(desktop) {
		font-size: smaller;
	}

	.menu {
		@include no-list-style;
		display: flex;
		flex-wrap: wrap;
		@include range(mobile) {
			justify-content: center;
		}
		@include range(desktop) {
			justify-content: flex-end;
		}
	}

	.menu-item {
		&:not(:first-child) { padding-left: 1em; }
	}
}

// BODY

.main-container {
	background: var(--background-light-gray);
	@include range(desktop) {
		flex: 1 1 var(--main-width);
	}
}

.main {
	@include range(mobile) {
		padding: 1rem;
	}
	@include range(desktop) {
		padding: 3rem;
		max-width: 40rem;
	}
}

// ENTRY

.entry {
	&:not(:first-child) {
		margin-top: var(--entry-margin);
	}
}

.entry-header {
	margin-bottom: 1em;
}

.entry-title {
	margin: 0;
	font-size: var(--entry-title-size);
	--link-color: black;
}

.entry-meta {
	margin: 0;
	line-height: 1.5;
	color: var(--text-dark-gray);
	font-size: larger;
	--link-color: var(--text-dark-gray);
	display: flex;
	justify-content: space-between;
}

.entry-tags {
	--link-color: var(--text-light-gray);
}

.entry-tag-title {
	display: none;
}

.entry-image {
	margin: 1em 0;

	img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: auto;
	}

}

// ARCHIVES

.archive {
	--entry-margin:     4rem;
	--entry-title-size: 1.65em;
}

.archive-header {
	@extend .entry-header !optional;
	margin-bottom: 3rem;
}

.archive-title {
	@extend .entry-title !optional;
	color: var(--text-dark-gray);
}

.archive-meta {
	@extend .entry-meta !optional;
}

.archive-read-more {
	font-size: smaller;
}

.archive-nav {
	margin-top: 3rem;
	display: flex;
	justify-content: space-between;
}

// BLOCKS

.wp-block-image {
	margin-left: 0;
	margin-right: 0;

	img {
		display: block;
	}

	figcaption {
		text-align: right;
		margin-top: 0;
		font-size: smaller;
		color: var(--text-dark-gray);
	}
}

// PREVIEW

.preview {
	margin: 1em 0;
	border: 1px solid var(--border-light-gray);

	> a {
		display: flex;
		align-items: stretch;
		min-height: 6em;
		color: inherit;
	}

}

.preview-thumb-container {
	flex: 0 0 8em;
	position: relative;
	overflow: hidden;
	background: var(--border-light-gray);
	display: flex;
	align-items: stretch;
}

.preview-thumb {
	@include absolute-cover;
	background-color: white;
	background-size: cover;
	background-position: center;
	transform: scale(1);
	transition: transform .5s $ease-in-out-quad;
	a:hover & {
		transform: scale(1.1);
	}
}

.preview-thumb-placeholder {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--border-light-gray);
	color: var(--text-light-gray);
	font-size: 2em;
}

.preview-caption {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.preview-caption-inner {
	padding: 1em;
}

.preview-title {
	margin: 0;
	font-size: 1rem;
	line-height: 1.1;
	color: var(--highlight-dark-blue);
}

.preview-meta {
	margin-top: .5em;
	color: var(--text-dark-gray);
	line-height: 1.1;
	font-size: (16/18)+rem;
}

.preview-excerpt {
	margin-top: 1em;
	font-size: (14/18)+rem;
	line-height: 1.5;
}

// PROJECTS

.project-links {
	margin: -1rem 0;
	position: relative;

	.menu {
		@include no-list-style;
		display: flex;
		justify-content: center;
	}

	.menu-item {
		&.email      { --link-color: #d4000a; }
		&.twitter    { --link-color: rgb(29, 161, 242); }
		&.github     { --link-color: mediumpurple; }
		&.instagram  { --link-color: #cb00b5; }
		&.feed       { --link-color: #f0640e; }
		&.deviantart { --link-color: #5cb85c; }
		--link-color-hover: var(--link-color);
		position: relative;
		z-index: 200;
		padding: 1rem;
		background: radial-gradient( var(--background-light-gray), #{transparentize(#eee, 1)});
	}

	a {
		display: flex;
		align-items: center;
		transform: scale( 1 );
		&:hover { transform: scale( 1.2 ); }
		transition: color .2s, transform .2s $ease-in-out-quad;
	}

	.menu-item-icon {
		font-size: 1.5rem;
		// padding-right: .25em;
		line-height: 1.1;
	}

	.menu-item-title {
		display: none;
		// font-size: smaller;
	}

	&::after {
		display: block;
		position: absolute;
		content: '';
		height: 1px;
		background-color: var(--border-light-gray);
		top: 50%;
		left: 0;
		right: 0;
	}

}

// FOOTER

.footer {
	color: var(--text-dark-gray);
	--link-color: var(--text-dark-gray);
	font-size: smaller;
	@include range(mobile) {
		padding: 0 1rem 1rem;
	}
	@include range(desktop) {
		padding: 0 3rem 3rem;
		max-width: 40rem;
	}
}

.footer-inner {
	display: flex;
	justify-content: space-between;
}

// ANIMATIONS
@import 'animations';