// LIBRARIES

@import 'lib/helpers';
@import 'lib/normalize';
@import 'lib/range';
@import 'lib/wp';

// RANGES

$theme-ranges: (

	xs: ( min:  575 ),
	sm: ( min:  576 ),
	md: ( min:  768 ),
	lg: ( min:  992 ),
	xl: ( min: 1200 ),

	mb: ( max:  767 ),

);

$ranges: map-merge($ranges, $theme-ranges);

:root {

	// FONTS
	--primary-font: 'Open Sans', sans-serif;
	// --title-font:   'Overlock', cursive;

	// COLORS
	--background-dark-gray:  #333;
	--background-light-gray: #eee;
	--text-light-gray:       #aaa;
	--text-dark-gray:        #888;
	--link-light-blue:       #80C0FF;
	--link-dark-blue:        #{desaturate( darken( #80C0FF, 18% ), 66% )};

	// SIZES
	--header-width: 45%;

	// STYLES
	--link-color:           var(--link-dark-blue);
	--link-color-hover:     var(--link-light-blue);
	--link-text-decoration: none;

	--entry-margin: 0;
	--entry-title-size: 2em;

}

// LAYERS

// CONTAINERS

html,
body {
	font: 18px/2 var(--primary-font);
	font-weight: 300;
	background: #1d2327;
}

body {}

* {
	box-sizing: border-box;
}

p {
	margin: 1em 0;
}

a {
	color: var(--link-color);
	&:hover{ color: var(--link-color-hover) };
	text-decoration: var(--link-text-decoration);
	transition: color .3s;
}

h1 {
	font-weight: 300;
	line-height: 1.5;
}

h2 {
	font-weight: 300;
	line-height: 1.5;
}

h3 {
	font-weight: 300;
	line-height: 1.5;
}

em {
}

hr {
	margin: 2em 0;
	border: 0;
	height: 1px;
	background-color: var(--text-dark-gray);
}

ul, ol {}

li {}

img {
	height: auto;
}

// SITE

.site-container {
	@include range(md) {
		display: flex;
		min-height: 100vh;
	}
	body.admin-bar & {
		@include range(md) {
			min-height: calc( 100vh - #{$wpadminbar-desktop-height} );
		}
	}
}

// HEADER

.header-container {
	background: var(--background-dark-gray);
	@include range(md) {
		position: relative;
		overflow: visible;
		flex: 0 0 var(--header-width);
	}
}

.header {
	color: var(--text-light-gray);
	--link-color: var(--link-light-blue);
	@include range(mb) {
		text-align: center;
		padding: 1rem;
	}
	@include range(md) {
		position: fixed;
		top: 50%;
		transform: translateY(-50%);
		width: var(--header-width);
		padding: 3rem;
		text-align: right;
	}

}

.header-title {
	margin: 0;
	font-size: 2em;
	--link-color: white;
}

.header-description {
	padding-top: .25em;
}

.header-contact {
	padding-top: .25em;
	padding-right: 4px;
	font-size: 1.2rem;
	--link-color: var(--text-light-gray);

	.menu {
		@include no-list-style;
		display: flex;
		@include range(mb) {
			justify-content: center;
		}
		@include range(md) {
			justify-content: flex-end;
		}
	}

	.menu-item {
		&:not(:first-child) { padding-left: 1em; }
		&.email     {
			--link-color:       #d9534f;
			--link-color-hover: #{ lighten( #d9534f, 10% )};
		}
		&.twitter   {
			--link-color:       #5bc0de;
			--link-color-hover: #{ lighten( #5bc0de, 10% )};
		}
		&.github    {
			--link-color:       mediumpurple;
			--link-color-hover: #{ lighten( mediumpurple, 10% )};
		}
		&.instagram {
			--link-color:       #5cb85c;
			--link-color-hover: #{ lighten( #5cb85c, 10% )};
		}
		&.feed      {
			--link-color:       #f0ad4e;
			--link-color-hover: #{ lighten( #f0ad4e, 10% )};
		}

		a {
			display: block;
			transform: scale( 1 );
			&:hover { transform: scale( 1.5 ); }
			transition: color .4s, transform .2s $ease-in-out-quad;
		}
	}

	.menu-item-title {
		display: none;
	}

}

.header-menu {
	padding-top: .25em;
	font-size: smaller;
	// font-weight: bold;
	// text-transform: uppercase;
	--link-color: var(--text-light-gray);

	.menu {
		@include no-list-style;
		display: flex;
		@include range(mb) {
			justify-content: center;
		}
		@include range(md) {
			justify-content: flex-end;
		}
	}

	.menu-item {
		&:not(:first-child) { padding-left: 1em; }
	}
}

// BODY

.main-container {
	background: var(--background-light-gray);
	@include range(md) {
		flex: 1;
	}
}

.main {
	@include range(mb) {
		padding: 1rem;
	}
	@include range(md) {
		padding: 3rem;
		max-width: 40rem;
	}
}

// ENTRY

.entry {
	&:not(:first-child) {
		margin-top: var(--entry-margin);
	}
}

.entry-title {
	margin: 0;
	font-size: var(--entry-title-size);
	--link-color: black;
}

.entry-meta {
	margin: 0;
	line-height: 1.5;
	color: var(--text-dark-gray);
	font-size: larger;
}

.entry-date {
	--link-color: var(--text-dark-gray);
}

// ARCHIVES

.archive {
	--entry-margin:     4rem;
	--entry-title-size: 1.65em;
}

.archive-header {
	@extend .entry-header !optional;
	margin-bottom: 4rem;
}

.archive-title {
	@extend .entry-title !optional;
	// color: var(--text-dark-gray);
}

.archive-meta {
	@extend .entry-meta !optional;
}

// BLOCKS

.wp-block-image {
	margin-left: 0;
	margin-right: 0;

	img {
		display: block;
	}

	figcaption {
		text-align: right;
		margin-top: 0;
		font-size: smaller;
		color: var(--text-dark-gray);
	}
}

// PROJECTS

.project-links {
	margin: -1rem 0;
	position: relative;

	.menu {
		@include no-list-style;
		display: flex;
		justify-content: center;
	}

	.menu-item {
		&.email      { --link-color: #d4000a; }
		&.twitter    { --link-color: rgb(29, 161, 242); }
		&.github     { --link-color: mediumpurple; }
		&.instagram  { --link-color: #cb00b5; }
		&.feed       { --link-color: #f0640e; }
		&.deviantart { --link-color: #5cb85c; }
		--link-color-hover: var(--link-color);
		position: relative;
		z-index: 200;
		padding: 1rem;
		background: radial-gradient( var(--background-light-gray), #{transparentize(#eee, 1)});
	}

	a {
		display: flex;
		align-items: center;
		transform: scale( 1 );
		&:hover { transform: scale( 1.2 ); }
		transition: color .2s, transform .2s $ease-in-out-quad;
	}

	.menu-item-icon {
		font-size: 1.5rem;
		// padding-right: .25em;
		line-height: 1;
	}

	.menu-item-title {
		display: none;
		// font-size: smaller;
	}

	&::after {
		display: block;
		position: absolute;
		content: '';
		height: 1px;
		background-color: #ddd;
		top: 50%;
		left: 0;
		right: 0;
	}

}

// FOOTER

.footer {
	color: var(--text-dark-gray);
	font-size: smaller;
	@include range(mb) {
		padding: 0 1rem 1rem;
	}
	@include range(md) {
		padding: 0 3rem 3rem;
	}
}
